
.carde .card-contente {
    padding: 10px;
}

nav.navbar-material {
  border: none;
  box-shadow: none;
}
.navbar-material .nav-wrapper {
}
.navbar-material .nav-wrapper > ul > li > a {
  color: black;
}
.navbar-material .nav-wrapper .brand-logo img {
  height: 60px;
}
.navbar-material .nav-wrapper .button-collapse i {
  color: black;
}
@media (max-width: 600px) {
  .navbar-material .nav-wrapper .brand-logo img {
    height: 56px;
  }
}